.headerLogo {
    z-index: 6;
    position: fixed;
    top: -20px;
}

.headerText {
    z-index: 6;
    position: fixed;
    left: 100px;
    top: 15px;
    text-align: left;
}

.headerButtons {
    z-index: 6;
    background-color: rgba(255, 247, 173, 1);
    cursor:pointer;
    border: none;
}

.homeBtn {
    z-index: 6;
    position: fixed;
    left: 94%;
    top: 10px;
}

.navigationBtn {
    z-index: 6;
    position: fixed;
    left: calc(94% - 75px);
    top: 10px;
}

.bigHeaderBox {
    z-index: 5;
    height: 75px;
    width: 5000px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

#ctoTitle {
    position: absolute;
    left: 10px;
    top: 100px;
}

#ctoBody{
    position: absolute;
    left: 20px;
    top: 145px;
    width: 95%;
}

#cfoTitle {
    position: absolute;
    left: 10px;
    top: 195px;
}

#cfoBody{
    position: absolute;
    left: 20px;
    top: 240px;
    width: 95%;
}
 
#cdoTitle {
    position: absolute;
    left: 10px;
    top: 290px;
}

#cdoBody{
    position: absolute;
    left: 20px;
    top: 335px;
    width: 95%;
}

#marketingTitle {
    position: absolute;
    left: 10px;
    top: 385px;
}

#marketingBody{
    position: absolute;
    left: 20px;
    top: 430px;
    width: 95%;
}

#factoryTitle {
    position: absolute;
    left: 10px;
    top: 480px;
}

#factoryBody{
    position: absolute;
    left: 0px;
    top: 505px;
    padding: 20px;
    width: 95%;
}

@font-face {
    font-family: "Open Sans";
    src: url(assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
} 

body {
    background-image: url("assets/blueBackground.png");
    font-family: "Open Sans", Sans-serif;
}
